<div class="row justify-content-sm-center">
  <div class="col-sm-6">
    <form #templateDrivenForm="ngForm" (ngSubmit)="handleFormSubmit(templateDrivenForm)">
      <div class="form-group">
 	<label>Event Name</label>
 	<input class="form-control" placeholder="Event Title" ngModel name="eventTitle" />
      </div>
      <div class="form-group">
        <label>Event Description</label>
 	<input class="form-control" placeholder="Event Description" ngModel name="eventDescription" />
      </div>
      <div class="form-group">
        <label>Age</label>
        <input class="form-control" placeholder="Provide Date"  ngModel name="time" type="datetime-local"/>
      </div>
      <div class="form-group">
	<div style="display: flex; margin-top: 10px;">
 	  <button
 		type="submit"
		class="btn btn-primary"
 		style="margin-left: auto; width: 30%;"
	  >
 	        Submit
 	  </button>
 	</div>
     </div>
  </form></div>
  <div>
  

<c-card-body>
  <table
  [hover]="true"
  [responsive]="true"
  [striped]="true"
  align="middle"
  cTable
  class="mb-0 border"
  >
    <thead cTableColor="primary">
      <tr class="text-center">
        <th> S.no</th>
        <th>EventName</th>
        <th>Author</th>
        <th>Event Description</th>
        <td >
          <!-- <svg ></svg> -->
        </td>
        <th class="text-center" >Event Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList; index as i" class="text-center">
        <td class="text-center">
          {{i+1}}
        </td>
        <td>
          <div>{{ event.eventTitle }}</div>
          <div class="small text-medium-emphasis text-nowrap text-center">
          </div>
        </td>
        <td class="text-center">
          <div>{{ "admin" }}</div>
        </td>
        <td>
          <div class="d-flex justify-content-between">
            <div class="float-start">
              <strong>
                {{ event.eventDescription }}
              </strong>
            </div>
            <div class="float-end ms-1 text-nowrap">
            </div>
          </div>
        </td>
        <td class="text-center">
          <!-- <svg ></svg> -->
        </td>
        <td>
          <div class="small text-medium-emphasis text-center">Date</div>
          <!-- <div class="fw-semibold text-nowrap">{{event.time.toDate().getDate()+"/"+ event.time.toDate().getMonth()+"/" + event.time.toDate().getFullYear()}}</div> -->
          <div class="fw-semibold text-nowrap text-center">{{  event.time}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</c-card-body>

    </div>
    
</div>