<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-medium-emphasis">January - December 2021</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
      *ngIf="this.chartsData.dataLoaded"
    >
      Main chart
    </c-chart>
  </c-card-body>
 
</c-card>


<app-widgets-top-posts></app-widgets-top-posts>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>User</th>
              <th class="text-center">Name</th>
              <th>Posts</th>
              <th class="text-center"></th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="text-center">
                <!-- <c-avatar
                  size="md"
                  src="{{ user.displayName }}"
                  status="{{ user.status }}"
                ></c-avatar> -->
              </td>
              <td>
                <div>{{ user.email }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <!-- <span>
                    {{ user.followers }} | Registered: {{ user.registered }}
                  </span> -->
                </div>
              </td>
              <td class="text-center">
                <div>{{ user.displayName }}</div>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <!-- <div class="float-start">
                    <strong>
                      {{ user.usage }}%
                    </strong>
                  </div> -->
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{ user.postCount}}
                    </small>
                  </div>
                </div>
                <!-- <c-progress thin>
                  <c-progress-bar
                    [value]="user.usage"
                    color="{{ user.color }}"
                  ></c-progress-bar>
                </c-progress> -->
              </td>
              <td class="text-center">
                <!-- <svg ></svg> -->
              </td>
              <td>
                <div class="small text-medium-emphasis">Last login</div>
                <div class="fw-semibold text-nowrap">{{user.createdAt.toDate().getDate()+"/"+ user.createdAt.toDate().getMonth()+"/" + user.createdAt.toDate().getFullYear()}}</div>
                <!-- <div class="fw-semibold text-nowrap">{{  user.createdAt.toDate(). }}</div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<app-widgets-brand [withCharts]="true"></app-widgets-brand>
<c-card-footer>
  <c-row class="text-center" [md]="5" [xs]="1">
    <c-col class="mb-sm-2 mb-0">
      <div class="text-medium-emphasis">Visits</div>
      <strong>29.703 Users (40%)</strong>
      <c-progress class="mt-2" thin>
        <c-progress-bar color="success" value="40"></c-progress-bar>
      </c-progress>
    </c-col>
     
    <c-col class="mb-sm-2 mb-0">
      <div class="text-medium-emphasis">Page views</div>
      <strong>78.706 Views (60%)</strong>
      <c-progress class="mt-2" thin>
        <c-progress-bar color="warning" value="60"></c-progress-bar>
      </c-progress>
    </c-col>
    <c-col class="mb-sm-2 mb-0">
      <div class="text-medium-emphasis">New Users</div>
      <strong>22.123 Users (80%)</strong>
      <c-progress class="mt-2" thin>
        <c-progress-bar color="danger" value="80"></c-progress-bar>
      </c-progress>
    </c-col>
   
  </c-row>
</c-card-footer>